body{
    margin: 0;
    background-color: white;
}
#logo{
  width: 30px;
  height: 30px;
  padding-top: 22px;
}
.name{
    font-size: 20px;
    font-family: serif;
    padding-left: 15px;
}
.head-element{
    background-color:white;
    padding-left: 12px;
    display: flex;
}
.mynavbar{
    display: flex;
    gap: 80px;
    padding-top: 29px;
}
.feature{
    padding-left: 200px;
}
li{
    list-style-type: none;
}
.navbar{
    margin-top: 5px;
    font-size: 18px;
    font-family: serif;
    color: black;

}
a{
    text-decoration: none;
}
.nav-btn{
    color: white ;
    font-weight: 700;
    border-radius: 5px;
    background-color:#FF0000 ;
    height: 40px;
    opacity: 0.7;
    font-size: 12px;
}
.sect-one{
    background-color: #01403d;
    margin: 0px;
    padding: 100px;
}
.image-section{
    float: right;
    opacity: 0.8;
    width: 510px;
    margin-right: 130px;
}
.sect-one-header{
    font-family: "Mynerve", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: green;
    font-size: 24px;
}
.bigger-text{
    color: white;
    font-size: 56px;
    font-family: sans-serif;
    text-align: left;
    line-height: 1;
}
.sub-text{
    color: white;
    font-family: sans-serif;
    text-align: left;
    font-size: 24px;
}
.mini-contact{
    height: 20px;
    width: 20px;
}
.contact-btn{
    
    border: 1px solid white;
    border-radius: 40px;
    font-size: 19px;
    font-family: sans-serif;
    height: 50px;
    width: 400px;
    background-color: #01403d;
    color: white;
    padding: 10px 22px 22px 22px;
    margin-right: 20px;
    font-weight: 700;

}
#icons{
    height: 20px;
    width: 20px;
}
.sect-two-header{
    font-family: "Mynerve", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color:#FF0000;
    font-size: 24px;
    margin-left: 5%;
}
.two-bigger-text{
    font-size: 56px;
    margin-left: 5%;
    font-weight: 700;
    font-family: sans-serif;
}
span{
    color:green;
}
.align-divs{
    display: flex;
    gap: 10px;
}
.contents{
    height: 430px;
    width: 320px;
    border: 1px solid black;
    border-radius:10px ;
    margin-left: 40px;
}
.contents:hover{
    background-color: bisque;
}
.content-head{
    margin-left: 10%;
    text-align: left;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.btn{
    border: 1px solid black;
    border-radius: 40px;
    font-size: 14px;
    font-family: sans-serif;
    background-color: white;
    height: 40px;
    width: 160px;
    padding: 4px 22px 22px 22px;
    margin-left: 10%;
    font-weight: 500;
}
.mini-contacts{
    height: 20px;
    width: 20px;
}
.p-text{
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
    font-family: serif;
    
}
.content-img{
    height: 130px;
}
.webinars{
    padding-top: 12px;
}
.help{
    margin-left: 25%;
}
.community{
    margin-left: 25%;
    padding-top: 5px;
}
.big-bg{
    height: 550px;
    width: 1410px;
    border: 1px solid black;
    border-radius: 40px ;
    margin-left: 50px;
    margin-top: 7%;
    background-image: url(./greenbackground.webp);
    margin-bottom: 6%;
}
.green-text{
    font-size: 62px;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    padding-top: 6%;
}
.green-button{
    background-color: lightgreen;
    font-size: 26px;
    border: 2px solid black;
    border-radius: 100px;
    height: 120px;
    width: 550px;
    margin-left: 28%;
    font-family: sans-serif;
    font-weight: 700;
}
.footer-head{
    background-color: black;
    padding: 150px 250px 250px 250px;
    display: flex;
    gap: 120px;
    
}
footer{
    background-color: black;
    margin-bottom: 0%;
}
.footer-content{
    color: white;
    font-size: 24px;
    
}
.footer-image{
    display: grid;
    gap: 5px;
    float: left;
    margin-top: 90px;
    margin-left: 50px;
}
.footer-coverpage{
    height: 250px;
    width: 350px;
}
.sub{
    color: white;
    font-size: 18px;
    margin-top: 0px;
}

